node_modules
containers/back/auth/node_modules
containers/back/auth/src/config
containers/back/auth/package-lock
containers/back/profile/src/config
containers/back/profile/node_modules
containers/back/newsitem/src/config
containers/back/newsitem/node_modules
containers/back/blogpost/src/config
containers/back/blogpost/node_modules
containers/back/group/src/config
containers/back/group/node_modules